
# Vite build output
dist/
.vite/

# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Env vars
.env.local
.env.*.local

# Firebase emulator or cache (optionnel)
.firebase/
.firebaserc